footer {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 20px 0;
    width: 100%;
    line-height: 1.5;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
}
