#landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#landing h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#landing p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.cta-container {
    display: flex;
    gap: 20px;
}

a.cta {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    width: 150px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #landing {
        padding: 15px;
    }

    #landing h1 {
        font-size: 2.5rem;
    }

    #landing p {
        font-size: 1.2rem;
    }

    a.cta {
        font-size: 1.2rem;
        padding: 10px 15px;
    }
}
